---
Title: Cake.HipChat
NoSidebar: true
NoContainer: false
NoGutter: true
---

<div class="container">				
	<h1>What is it?</h1>
    <p>
        Cake.HipChat is a set of aliases for Cake to help with sending notifications to HipChat as part of a build.
    </p>
</div>